.icon {
    color: white;
}

.icon:hover {
    color: #ffc107;
}

.app-h {
    height: 65vh;
}

.footer-border {
    border-top: solid 1px #ffc107;
}

footer .container hr {
    background-color: #ffc107;
    width: 6%;
    height: 2px;
    border-radius: 2px;
}

.home-hr {
    width: 85%;
    height: 1px;
    background-color: #ffc107;
    border: 1px solid #ffc107;
    border-radius: 1px;
}

.home-link {
    color: #ffc107;
}

.services-box {
    border-radius: 20px;
    border: 1px ridge #ffc107;
}