.icon {
    color: white;
}

.icon:hover {
    color: yellow;
}

.app-h {
    height: 65vh;
}

.footer-border {
    border-top: solid 1px yellow;
}

footer .container hr {
    background-color: yellow;
    width: 6%;
    height: 2px;
    border-radius: 2px;
}